Cosin-Wave.json
[
    {
        "id": "1291624a4cd9d022",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "def562ef50be9ae8",
        "type": "mqtt out",
        "z": "1291624a4cd9d022",
        "name": "",
        "topic": "freq",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0b947f212feae9b5",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "ea60baa86fac6237",
        "type": "mqtt out",
        "z": "1291624a4cd9d022",
        "name": "",
        "topic": "offset",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0b947f212feae9b5",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "42077918e930559f",
        "type": "ui_numeric",
        "z": "1291624a4cd9d022",
        "name": "",
        "label": "<font size = 6> <font color=red> Offset:",
        "tooltip": "",
        "group": "9826efdbd714ebdf",
        "order": 9,
        "width": 10,
        "height": 2,
        "wrap": false,
        "passthru": true,
        "topic": "offset",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "-128",
        "max": "127",
        "step": 1,
        "className": "",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "ea60baa86fac6237"
            ]
        ]
    },
    {
        "id": "dfbf56acf77fdc73",
        "type": "ui_numeric",
        "z": "1291624a4cd9d022",
        "name": "",
        "label": "<font size = 6> <font color=red> Frequency:   ",
        "tooltip": "",
        "group": "9826efdbd714ebdf",
        "order": 5,
        "width": 10,
        "height": 2,
        "wrap": false,
        "passthru": true,
        "topic": "frequency",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "130",
        "max": "55000",
        "step": "100",
        "className": "",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "def562ef50be9ae8"
            ]
        ]
    },
    {
        "id": "6ecb0603a47bf54e",
        "type": "ui_button",
        "z": "1291624a4cd9d022",
        "name": "",
        "group": "9826efdbd714ebdf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "<font size = 6> <font color=black>Generate Cosine Wave with a frequency and offset of you choice",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "98459ef6c8b95143",
        "type": "ui_button",
        "z": "1291624a4cd9d022",
        "name": "",
        "group": "9826efdbd714ebdf",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "<font size = 5> <font color=black>Set the voltage value of the DC component of the cosine wave generator output. Range: -128 ~ 127",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d3c6c7410bdbee4e",
        "type": "ui_button",
        "z": "1291624a4cd9d022",
        "name": "",
        "group": "9826efdbd714ebdf",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "<font size = 5> <font color=black>Set frequency of cosine wave generator output. Range:130(130Hz) ~ 55000(100KHz)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 440,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2d6dd6319444f27d",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "f6e38a4950078cab",
        "order": 2,
        "width": 22,
        "height": 1
    },
    {
        "id": "f374a723ac844e0a",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "f6e38a4950078cab",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "86be215889848eaa",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "f6e38a4950078cab",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "9f5b6cd920f8b5bc",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "f6e38a4950078cab",
        "order": 7,
        "width": 9,
        "height": 1
    },
    {
        "id": "bbcddbcdd7d43590",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "f6e38a4950078cab",
        "order": 8,
        "width": 17,
        "height": 1
    },
    {
        "id": "f2d7b32757d5db77",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "f6e38a4950078cab",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "6be5e785d50d1291",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "f6e38a4950078cab",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "2f2f7c1c6ce46c3a",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "f6e38a4950078cab",
        "order": 14,
        "width": 5,
        "height": 1
    },
    {
        "id": "a0901a709d3665bb",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "f6e38a4950078cab",
        "order": 15,
        "width": 5,
        "height": 1
    },
    {
        "id": "f6d188943e05baf4",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "f6e38a4950078cab",
        "order": 16,
        "width": 5,
        "height": 1
    },
    {
        "id": "7d5c15ce1bcce627",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "f6e38a4950078cab",
        "order": 17,
        "width": 5,
        "height": 1
    },
    {
        "id": "c768a18f16df7d4e",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "f6e38a4950078cab",
        "order": 18,
        "width": 5,
        "height": 1
    },
    {
        "id": "e60f36e10b3043dd",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "9826efdbd714ebdf",
        "order": 2,
        "width": 28,
        "height": 1
    },
    {
        "id": "8eaa59c2c709951a",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "9826efdbd714ebdf",
        "order": 3,
        "width": 28,
        "height": 1
    },
    {
        "id": "d96a9e4536901e49",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "9826efdbd714ebdf",
        "order": 6,
        "width": 18,
        "height": 1
    },
    {
        "id": "3a7c3bfc4ad1924b",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "9826efdbd714ebdf",
        "order": 7,
        "width": 18,
        "height": 1
    },
    {
        "id": "bb7c5e0907224a21",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "9826efdbd714ebdf",
        "order": 10,
        "width": 18,
        "height": 1
    },
    {
        "id": "54631b7f5cf52927",
        "type": "ui_spacer",
        "z": "1291624a4cd9d022",
        "name": "spacer",
        "group": "9826efdbd714ebdf",
        "order": 11,
        "width": 18,
        "height": 1
    },
    {
        "id": "0b947f212feae9b5",
        "type": "mqtt-broker",
        "name": "offset",
        "broker": "mqtt://mqtt.eclipseprojects.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9826efdbd714ebdf",
        "type": "ui_group",
        "name": "Cosine Wave Generater",
        "tab": "6f8f303c63c4d5e7",
        "order": 3,
        "disp": true,
        "width": 28,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f8f303c63c4d5e7",
        "type": "ui_tab",
        "name": "Hussam ",
        "icon": "",
        "disabled": false,
        "hidden": false
    }
]